<ion-view view-title="Informacion de App">
  <ion-content>
    <ion-list>
      <div class="list card">
        <div style="text-align:center" class="item item-divider">Proyecto de app movil</div>
        <div style="text-align:center" class="item item-body">
          <div>
            Integrantes de desarrollo<br><br>
            <b>Jair Pacheco Grau </b>(<i class="ion-social-github"> @yarkee16</i>)<br>
            <b>Jorge Garcia Lopez </b>(<i class="ion-social-github"> @georgega29</i>)<br>
            <b>Oscar Meza Restrepo </b>(<i class="ion-social-github"> @Osmere2009</i>)
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
